<div id="main">
  <h1>Pathfinder</h1>
      <p>
          Das
          <a href="sortiment/rollenspiele/was-ist-rollenspiel/">Rollenspiel</a>
          <em>Pathfinder</em> ist eine Weiterentwicklung von
          <em>Dungeons &amp; Dragons</em>, dem bekanntesten Rollenspiels der Welt. Es wurde von Zehntausenden Spielern ausführlich
          getestet, verbessert und für gut befunden. Für den deutschsprachigen Markt erscheint
          <em>Pathfinder</em> exklusiv bei Ulisses Spiele. Die zeitnahe und hochwertige Bearbeitung ist das Werk eines ebenso enthusiastischen
          wie eingespielten Übersetzerteams.
      </p>
      <p>
          In einer klassischen
          <a href="sortiment/rollenspiele/pathfinder/die-welt-golarion/">Fantasy-Welt</a> wagen Sie sich an geheimnisumwitterte Orte, schlagen grimmige Schlachten und erleben selbst dann noch
          epische Abenteuer,&nbsp; wenn Bücher oder Computerspiele schon lange zu Ende wären.</p>
      <p>
          Ein Tipp: Dank ihrer vereinfachten Regeln und ihrem Fokus auf aktionsgeladene Abenteuer ist die
          <a href="sortiment/rollenspiele/pathfinder/produkte/">
              <em>Pathfinder-Einsteigerbox</em>
          </a> ideal für erste Schritte in die Welt des
          <em>Pathfinder</em>-Rollenspiels und der beste Ausgangspunkt für ein (Helden-) Leben voller turbulenter Abenteuer!</p>
      <p>
          Einen Überblick über die verschiedenen Produktreihen und ihre Aufgliederung finden Sie
          <a href="http://www.ulisses-spiele.de/forum/viewtopic.php?f=84&amp;t=714#p8799"
              target="_blank">hier </a>in unserem Forum.</p>
      <h2>
          Charakterbögen</h2>
      <p>
          <a href="http://www.ulisses-spiele.de/download/39/" target="_blank">Charakterbogen der Einsteigerbox</a>
      </p>
      <p>
          <a href="http://www.ulisses-spiele.de/download/161/" target="_blank">Offizieller Charakterbogen</a>
      </p>
      <p>
          <a href="http://www.ulisses-spiele.de/download/162/" target="_blank">Charakterbogen zum Ausfüllen am Computer</a>
      </p>
      <p>
          <a href="http://www.ulisses-spiele.de/download/163/" target="_blank">Charakterbogen zum Ausfüllen am Computer - mit Berechnung!</a>
      </p>
  </div>