* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

a.edit:link,
a.edit:visited {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.edit:hover,
a.edit:active {
    background-color: #ffffff;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

a.delete:link,
a.delete:visited {
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.delete:hover,
a.delete:active {
    background-color: #ffffff;
    color: #f44336;
    border: 2px solid #f44336;
    
}

a.move:link,
a.move:visited {
    background-color: #696969;
    color: white;
    border: 2px solid #696969;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.move:hover,
a.move:active {
    background-color: #ffffff;
    color: #696969;
    border: 2px solid #696969;
}

a.new:link,
a.new:visited {
    background-color: #00FFFF;
    color: white;
    border: 2px solid #00FFFF;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.new:hover,
a.new:active {
    background-color: #ffffff;
    color: #00FFFF;
    border: 2px solid #00FFFF;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}