h1 {
  font-size: 1.2em;
}

#mainimage img {
  width: 75%;
  height: auto;
}

#vorschau img {
  width: 15%;
  height: auto;
  border: 1px solid black;
}

.activBtn {
  background-color: lightgoldenrodyellow;
}

.buttonAmazon {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.buttonAmazon:hover,
.buttonAmazon:focus {
  background: #4096ee;
}

.buttonAmazon:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.buttonAmazon:active {
  transform: scale(0.99);
}

.active,
.active:hover,
.active:focus {
  background: #ffd300;
  color: #000;
}
