@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  margin: 0 auto;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
    'Helvetica Neue', Arial, sans-serif;
}

/* Nav */
nav {
  /* float: left; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  font-size: 16px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
}

nav ul li {
  position: relative;
  float: left;
  list-style: none;
  color: #fff;
  transition: 0.5s;
}

nav ul li a {
  padding: 20px;
}

nav ul > li.submenu > a:after {
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
}

nav ul ul li.submenu > a:after {
  margin-left: auto;
  margin-right: -10px;
  border-left: 5px solid #fff;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

nav ul li:hover {
  background: #4096ee;
}

nav ul ul {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

nav ul ul li {
  float: none;
  width: 200px;
  border-bottom: 1px solid #555;
}

nav ul ul li a {
  padding: 10px 20px;
}

nav ul ul li:last-child {
  border-bottom: none;
}

nav ul li:hover > ul {
  top: 100%;
  left: 0;
}

nav ul ul li:hover > ul {
  top: 0;
  left: 200px;
}

.active {
  background: #555;
}

/* Layout */
.row {
  padding: 5% 5%;
}

.column {
  float: left;
  width: 46%;
  margin: 0 2%;
  padding: 5% 0;
}

.full {
  width: 96%;
  margin: 0 2%;
  padding: 5% 0;
}

.row ul {
  list-style-type: square;
  padding: 2.5%;
}

.row ol {
  padding: 2.5%;
}

h1 {
  margin: 2% 0;
  padding: 2% 0;
  border-bottom: 2px solid #ddd;
}

h2 {
  font-family: Consolas, monaco, monospace;
  padding: 2% 0;
  margin: 0.5% 0;
  /* border-bottom: 2px solid #ddd; */
  border-top: 2px solid #ddd;
}

h3 {
  margin: 2.5% 0;
}

p {
  padding: 2.5% 0;
}

details {
  margin: 2.5% 0;
}

.column img {
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 1%;
  background-color: #000;
  color: white;
  text-align: center;
}

footer li {
  list-style-type: none;
  display: inline-block;
}

footer a {
  color: #fff;
}

#teaser {
  width: 100%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

h2 .arrow {
  margin-bottom: 5px;
  margin-left: 7.5px;
}

.postit {
  line-height: 1.25;
  text-align: center;
  width: 200px;
  margin: 20px;
  min-height: 175px;
  max-height: 175px;
  /* padding-top:20px; */
  position: relative;
  z-index: 10;
  border: 1px solid #e8e8e8;
  border-top: 60px solid #fdfd86;
  font-size: 20px;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(81%, #ffff88),
    color-stop(82%, #ffff88),
    color-stop(82%, #ffff88),
    color-stop(100%, #ffffc6)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  );
  /* IE10+ */
  background: linear-gradient(
    135deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  );
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);

  transform-origin: 50% 100%;

  -moz-transform-origin: 50% 100%;

  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.fix {
  position: fixed;
  top: 0px;
  right: 0px;
}

.jsoff {
  position: relative;
  top: 25%;
  border: 25px solid hotpink;
  color: hotpink;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 * Licensed under the MIT License
 *
 * Sass/SCSS source: https://goo.gl/8hncj
 * PSD by Liam McCabe: https://goo.gl/md3Dj
 */

@import url(
  https://fonts.googleapis.com/css?family=PT + Sans|Ubuntu:300,
  400,
  700
);

.container {
  background: #fff;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  margin: 2em auto 0;
  padding: 1.5em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote p:nth-of-type(2) {
  text-align: right;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #fff; */
  width: 3rem;
  height: 1.9rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

blockquote:after {
  content: '\201D';
  position: absolute;
  bottom: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 1.6rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

::selection {
  /* background-color: #FF69B4; */
  background-color: #ffff00;
}

.button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover,
.button:focus {
  background: #4096ee;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font: normal normal 12px/14px 'Courier New', Courier, Monospace;
  line-height: 1;
  margin-bottom: 1.6em;
  max-width: 100%;
  padding: 0.5em 1em;
  display: block;
  word-wrap: break-word;
  margin-left: 5px;
  overflow: auto;
  overflow-x: auto;
  white-space: pre-wrap;
  counter-reset: line;
}

pre:hover,
pre:focus {
  /* what ever action */
  /* this is just example */
  border-left: 3px solid #338df3;
}

.marker {
  background-color: #fdfd86;
}

.todo {
  color: red;
  text-decoration: none;
}

.done {
  color: green;
  text-decoration: line-through;
}

.box {
  width: 75px;
  height: 75px;
  margin: 10px;
  background-color: orange;
  float: left;
  display: table-cell;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  font-family: Consolas, 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', Monaco, 'Courier New', monospace;
}

.clearfix,
.clearfix:after {
  content: ' ';
  clear: both;
  display: table;
  /*visibility: hidden;
  height: 0px;*/
}

#progress {
  height: 40px;
  background-color: coral;
  width: 5px;
  margin: 0;
  padding: 0;
}

#countdown {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

/* Für Screenreader sollte hier das verschieben des Elements aus dem Bildschirm genutzt werden.
https://stackoverflow.com/questions/54072665/will-the-css-property-opacity-only-hide-content-from-screen-readers-if-exactly*/
.hide {
  display: none;
}

.show {
  display: block;
}

img.preview {
  width: 75%;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }

  nav {
    position: relative;
    float: left;
    width: 100%;
    background: #000;
    font-size: 16px;
    margin-bottom: 5%;
  }

  nav li {
    width: 100%;
  }

  nav ul li:hover > ul {
    width: 100%;
    top: 100%;
    left: 0;
  }

  nav ul ul li:hover > ul {
    width: 100%;
  }

  nav ul ul li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #555;
  }
}
