@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #fff;
}

.content {
	max-width: 500px;
	margin: auto;
	background: white;
	padding: 10px;
}

.numberlist {
	width: 300px;
	margin: 0 2%;
	float: left;
}

.numberlist ol {
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;

}

.numberlist ol ol {
	margin: 0 0 0 2em;
}

.numberlist a {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: #cbe7f8;
	color: #444;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}

.numberlist a:hover {
	background: #00BFFF;
	text-decoration: underline;
}

.numberlist a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #87ceeb;
	height: 2em;
	width: 2em;
	line-height: 1.25em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	color: #FFF;
}

/* End css list with numeber circle background -------------- */

.hide {
	display: none;
}

@media screen and (max-width: 1200px) {
	.numberlist {
		width: 100%;
		margin: 0 2%;
		float: left;
	}
}