/*_____________________________________________________________
|
|   Quelltext zum Buch "Workshop HTML5 & CSS3"
|   Verlag:     dpunkt.verlag GmbH
|   Copyright:  2012 Stephan Heller <heller@h5c3.de>
|   Lizenz:     GNU General Public License
|   Verwendung der Quelltexte ausdrücklich gestattet und gewünscht!
|   Weitere Quelltexte finden Sie unter http://www.h5c3.de
|_______________________________________________________________ */

/***************************
* Anweisungen für den Entwicklungsprozess
***************************/

/***************************
* Übergreifende Formate
***************************/

/***************************
* Inhalt
***************************/
#inhalt {
  margin-top: 2.0833em;
  min-height: 12.5em;
  font-size: 1em; /* Schriftgröße wird für den IE benötigt - der IE erbt diese nicht korrekt */
}
#inhalt.startseite {
  margin-top: 0px;
}

/* Start bzw. Teaserseite */
.teaser {
  padding: 1.25em;
  /* width: 35.6666em; */
  float: left;
  margin-top: 2.0833em;
  background-image: url('../img/ziemlich_beste_freunde/hg-punkt.png');
}

/* Alternative Schreibweise: Neuer Selektor in CSS3 - wird nicht vom IE8 untersützt */
.teaser:nth-child(even) {
  float: right;
}
/* Nicht im Buch - damit die linken Teaser auf der gleichen Höhe wie die rechten stehen
 wird das float: right aufgelöst */
.teaser:nth-child(odd) {
  clear: left;
}
.teaser section {
  min-height: 15em;
  background-color: white;
  padding: 0.8333em 0.8333em 0.1em 0.833em;
}
.teaser h1 {
  font-size: 1.5em;
  margin-bottom: 0.8333em;
}
.teaser h2 {
  font-size: 1em;
  color: white;
  background-color: #cc1511;
  padding: 0.25em;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0.8333em;
  text-transform: uppercase;
}
.teaser p {
  line-height: 1.4em;
  margin-bottom: 0.8333em;
}
.teaser p a {
  text-decoration: none;
  color: #cc1511;
  font-weight: bold;
  margin-top: 0.8333em;
  display: inline-block;
  background-image: url('../img/ziemlich_beste_freunde/hg-mehr-link.png');
  padding-right: 1.6666em;
  background-repeat: no-repeat;
  background-position: center right;
}
/* Nicht im Buch: Hier wird die Angabe von position generell auf den Teaser gelegt
 damit entfallen die Anweisungen in den Regeln für .teaser-mit-bild-links und .teaser-mit-bild-rechts */
.teaser section {
  position: relative;
}
.teaser-mit-bild-links section {
  padding-left: 14.1666em;
}
.teaser-mit-bild-links img {
  position: absolute;
  left: 0.8333em;
  top: 0.8333em;
}
.teaser-mit-bild-rechts img {
  position: absolute;
  right: 0.8333em;
  top: 0.8333em;
}
.teaser-mit-bild-rechts section {
  padding-right: 14.1666em;
}
