ul#todo,
ul#done {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#todo li,
#done li {
  background-color: #eee;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px;
}

#todo .todo {
  text-decoration: none;
  background-color: #eeb843;
}

#done .done {
  text-decoration: line-through;
  background-color: #7fff00;
}

#todo li,
#done li {
  cursor: pointer;
}

#newEntry {
  background-color: #fff;
  color: #494747;
  font-weight: bold;
}
