/* https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  float: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 10px 16px;
}

/* https://www.w3schools.com/howto/howto_css_testimonials.asp */

/* Style the container with a rounded border, grey background and some padding and margin */
#info .container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
#info .container::after {
  content: '';
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
#info .container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
#info .container span {
  font-size: 20px;
  margin-right: 15px;
  display: block;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  #info .container {
    text-align: center;
  }

  #info .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
