@import url(https://fonts.googleapis.com/css?family=Faster+One&display=swap);
#container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ausgabe {
  width: 720px;
  margin: 0 auto;
}
#container h2,
#container h3 {
  font-family: 'Faster One', cursive;
}
#container h2 {
  text-align: center;
  font-size: 48px;
}
#container h2 + p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}
#container h3 {
  font-size: 32px;
}
.clearfix,
.clearfix:after {
  content: ' ';
  clear: both;
  display: table;
}
#container .member {
  float: left;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
}
#container ul {
  margin: 0;
  padding: 0;
}
#container ul > li {
  list-style-type: none;
}
#container ul > li li {
  list-style-type: disc;
  margin-left: 32px;
}
